<!DOCTYPE html>
<html>

<head>
    <title>Matic-Mate Web</title>
</head>
<img src="{{ url_for('static', filename='matic-mate-logo.png') }}" alt="Matic-Mate Logo" width="200">
<div style="text-align: center; margin-bottom: 20px;">
    <img src="{{ url_for('static', filename='matic-mate-logo.png') }}" alt="Matic-Mate Logo" width="200">
</div>

<body>
    <h1>Matic-Mate Web</h1>
    <form method="POST">
        {% for key, value in config.items() %}
        <label>{{ key }}:</label><br>
        <input type="text" name="{{ key }}" value="{{ value }}"><br><br>
        {% endfor %}
        <button type="submit">Save Configuration</button>
    </form>

    <form action="/call" method="POST" style="margin-top: 20px;">
        <button type="submit">Make Call</button>
    </form>
</body>

</html>